<h1 style="background-color:aqua; color:wheat; text-align:center">hello at my company</h1>
<button class="btn btn-warning">save</button
    <button class="btn btn-warning">save</button>
    <button class="btn btn-danger">save</button>
    <button class="btn btn-check">save</button>
    <button class="btn btn-dark">save</button>
    <button class="btn btn-light">save</button>
    <button class="btn btn-outline-primary">save</button>
<button class="btn btn-success">save</button>

@{
    String address = "32 ahmed omar street";

    String Greet()
    {

        return " add or";
    }
}
<h2 style="background-color:aqua; color:darkblue; text-align:center">@address</h2>
<h3 style="background-color:lightgray; color:darkgreen; text-align:center">@Greet()</h3>
<h2 style="background-color:yellow;">@DateTime.Now</h2>
@{
    bool isGraduate = true;
}
@if (isGraduate == true)
{
    <h1 style="color:greenyellow">you can apply</h1>
}
else
{
    <h1 style="color:orangered">you cannot apply</h1>   }

    />